Repository suhas-svg/financial-backend-services: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for code quality and security
repos:
  # General code formatting and linting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-xml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: detect-private-key
      - id: mixed-line-ending

  # Java code formatting with Google Java Format
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.14.0
    hooks:
      - id: pretty-format-java
        args: [--autofix]

  # Secret detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.82.13
    hooks:
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'trufflehog git file://. --since-commit HEAD --only-verified --fail'
        language: system
        stages: ["commit", "push"]

  # Security scanning with Semgrep
  - repo: https://github.com/semgrep/semgrep
    rev: v1.95.0
    hooks:
      - id: semgrep
        args: ['--config=p/security-audit', '--config=p/secrets', '--config=p/owasp-top-ten', '--config=p/java', '--error']

  # License header check
  - repo: local
    hooks:
      - id: license-check
        name: License Header Check
        entry: bash -c 'cd account-service && ./mvnw license:check-file-header'
        language: system
        files: '\.java$'
        pass_filenames: false

  # Maven compile check
  - repo: local
    hooks:
      - id: maven-compile
        name: Maven Compile
        entry: bash -c 'cd account-service && ./mvnw clean compile'
        language: system
        files: '(\.java$|pom\.xml$)'
        pass_filenames: false

  # Maven test check
  - repo: local
    hooks:
      - id: maven-test
        name: Maven Test
        entry: bash -c 'cd account-service && ./mvnw test'
        language: system
        files: '\.java$'
        pass_filenames: false

  # PMD static analysis
  - repo: local
    hooks:
      - id: pmd-check
        name: PMD Static Analysis
        entry: bash -c 'cd account-service && ./mvnw pmd:check'
        language: system
        files: '\.java$'
        pass_filenames: false

  # SpotBugs static analysis
  - repo: local
    hooks:
      - id: spotbugs-check
        name: SpotBugs Static Analysis
        entry: bash -c 'cd account-service && ./mvnw spotbugs:check'
        language: system
        files: '\.java$'
        pass_filenames: false

  # Docker file linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: [--ignore, DL3008, --ignore, DL3009]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yml]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
    hooks:
      - id: markdownlint
        args: [--fix]

# Configuration for specific hooks
default_language_version:
  java: system

Remove temporary reservation test diagnostics
  .github/workflows/spending-reservation-test-diagnostics.yml
Due: none

Remove temporary transaction compile diagnostics
  .github/workflows/spending-reservation-transaction-compile-diagnostics.yml
Due: none

Remove temporary reservation compile evidence
  docs/release-evidence/spending-reservation-compile-diagnostics.md
Due: none

Provide payload-faithful reservation client for integration tests
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/IntegrationTestConfiguration.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Align remaining-limit assertion with reservation response contract
  account-service/src/test/java/com/suhasan/finance/account_service/service/SpendingLimitServiceAdditionalTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Avoid production bean-name collision in integration tests
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/IntegrationTestConfiguration.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Make integration reservation client proxyable
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/IntegrationTestConfiguration.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Cover reservation persistence lifecycle defaults and safe scope derivation
  account-service/src/test/java/com/suhasan/finance/account_service/entity/SpendingLimitReservationTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Cover spending reservation lifecycle edge cases
  account-service/src/test/java/com/suhasan/finance/account_service/service/SpendingLimitServiceLifecycleEdgeTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Run Java 21 and 22 verification for latest reservation fixes
  .github/workflows/spending-reservation-fast-verify.yml
Due: none

Run targeted reservation lifecycle smoke verification
  .github/workflows/spending-reservation-smoke-verify.yml
Due: none

Apply exact spending reservation PMD corrections
  .github/workflows/apply-spending-reservation-pmd-fix.yml
Due: none

Relax PMD patch whitespace matching
  .github/workflows/apply-spending-reservation-pmd-fix.yml
Due: none

Run final account Java 21 and 22 verification
  .github/workflows/spending-reservation-account-final-verify.yml
Due: none

Allow asynchronous balance projection to settle in Docker E2E
  frontend/tests/sandbox-e2e/controlled-beta-phase2.spec.ts
Due: none

Assert reservation safety against authoritative transaction history
  frontend/tests/sandbox-e2e/controlled-beta-phase2.spec.ts
Due: none

Rerun frontend verification against authoritative history assertion
  .github/workflows/spending-reservation-frontend-final-verify.yml
Due: none

Isolate legacy integration tests from reservation lifecycle HTTP stubs
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/BaseIntegrationTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Mirror reservation lifecycle test isolation
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/BaseIntegrationTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Make reservation completion crash-recoverable
  .github/workflows/spending-reservation-release-blocker.yml
  docs/release-evidence/spending-reservation-latest-run.md
  docs/release-evidence/spending-reservation-pre-pr.md
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/TransactionIdempotencyClaimState.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaCoordinator.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionIdempotencyClaimService.java
  transaction-service/src/main/resources/db/migration/V100__spending_reservation_saga_claims.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/repository/LedgerMigrationIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaCoordinatorTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionIdempotencyClaimServiceTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Make spending-limit reservations payload-safe (#48)
  .github/workflows/release-authority.yml
  account-service/src/main/java/com/suhasan/finance/account_service/controller/InternalAccountController.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/SpendingLimitDtos.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/SpendingLimitReservation.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/SpendingLimitReservationState.java
  account-service/src/main/java/com/suhasan/finance/account_service/repository/SpendingLimitReservationRepository.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/SpendingLimitService.java
  account-service/src/main/resources/db/migration/V100__spending_limit_reservation_payload_safety.sql
  account-service/src/test/java/com/suhasan/finance/account_service/entity/SpendingLimitReservationTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/migration/SpendingLimitReservationMigrationTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/SpendingLimitReservationConcurrencyTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/SpendingLimitServiceAdditionalTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/SpendingLimitServiceLifecycleEdgeTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/SpendingLimitServiceTest.java
  frontend/tests/sandbox-e2e/controlled-beta-phase2.spec.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/TransferRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/WithdrawalRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/TransactionIdempotencyClaim.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/TransactionIdempotencyClaimState.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/TransactionIdempotencyClaimRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitRemoteEffectAspect.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationClientAspect.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationLifecycleClient.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaAspect.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaContext.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaCoordinator.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionIdempotencyClaimService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/WithdrawalRequestIdempotencyClaimAspect.java
  transaction-service/src/main/resources/db/migration/V100__spending_reservation_saga_claims.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/BaseIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/IntegrationTestConfiguration.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/SpendingLimitReservationCrossServiceIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/repository/LedgerMigrationIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/SpendingLimitRemoteEffectAspectTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationClientAspectTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaAspectTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaCoordinatorTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionIdempotencyClaimServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/WithdrawalRequestIdempotencyClaimAspectTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Bound reporting queries and page contracts
  account-service/src/main/java/com/suhasan/finance/account_service/controller/AccountController.java
  account-service/src/main/java/com/suhasan/finance/account_service/controller/BeneficiaryController.java
  account-service/src/main/java/com/suhasan/finance/account_service/controller/NotificationController.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/PageResponse.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/SpendingLimitService.java
  account-service/src/test/java/com/suhasan/finance/account_service/controller/AccountControllerTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/SpendingLimitServiceAdditionalTest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/AuditController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/InvestigationController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/RiskAlertController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/RiskCaseController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/TransactionController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/TransactionDisputeController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/PageResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/CustomerMonthlyStatementRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/JournalPostingRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/ReconciliationExceptionNoteRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/ReconciliationExceptionRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/StatementMovementProjection.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/DefaultAdminReconciliationQueryService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/TransactionDisputeNoteRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/InvestigationService.java
  transaction-service/src/main/resources/db/migration/V102__bound_statement_movement_queries.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/web/DefaultAdminReconciliationQueryServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/security/SecurityConfigTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/InvestigationServiceTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Bound reporting queries and stabilize page contracts (#58)
  account-service/src/main/java/com/suhasan/finance/account_service/controller/AccountController.java
  account-service/src/main/java/com/suhasan/finance/account_service/controller/BeneficiaryController.java
  account-service/src/main/java/com/suhasan/finance/account_service/controller/NotificationController.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/PageResponse.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/SpendingLimitService.java
  account-service/src/test/java/com/suhasan/finance/account_service/controller/AccountControllerTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/SpendingLimitServiceAdditionalTest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/AuditController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/InvestigationController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/RiskAlertController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/RiskCaseController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/TransactionController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/TransactionDisputeController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/PageResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/CustomerMonthlyStatementRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/JournalPostingRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/ReconciliationExceptionNoteRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/ReconciliationExceptionRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/StatementMovementProjection.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/DefaultAdminReconciliationQueryService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/TransactionDisputeNoteRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/InvestigationService.java
  transaction-service/src/main/resources/db/migration/V102__bound_statement_movement_queries.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/web/DefaultAdminReconciliationQueryServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/security/SecurityConfigTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/InvestigationServiceTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Add durable financial evidence outbox
  docs/operations/ledger-cutover-runbook.md
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceDelivery.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceDeliveryRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceDestination.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceOutbox.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceOutboxDispatcher.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceOutboxRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceOutboxService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceStatus.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerPostingService.java
  transaction-service/src/main/resources/db/migration/V103__create_financial_evidence_outbox.sql
  transaction-service/src/main/resources/transaction_service_alerts.yml
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceOutboxDispatcherTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceOutboxServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/repository/LedgerMigrationIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/LedgerPostingServiceTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Add durable financial evidence outbox (#59)
  docs/operations/ledger-cutover-runbook.md
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceDelivery.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceDeliveryRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceDestination.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceOutbox.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceOutboxDispatcher.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceOutboxRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceOutboxService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceStatus.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerPostingService.java
  transaction-service/src/main/resources/db/migration/V103__create_financial_evidence_outbox.sql
  transaction-service/src/main/resources/transaction_service_alerts.yml
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceOutboxDispatcherTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceOutboxServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/repository/LedgerMigrationIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/LedgerPostingServiceTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Pin release inputs and govern flaky retries
  .github/workflows/release-authority.yml
  Dockerfile.test-runner
  account-service/Dockerfile
  docker-compose.synthetic-sandbox.yml
  docs/operations/supply-chain-and-test-governance.md
  frontend/Dockerfile.sandbox
  scripts/check-surefire-retries.ps1
  scripts/test-surefire-retry-governance.ps1
  scripts/verify-release-authority.ps1
  transaction-service/Dockerfile
Due: none

Finish supply-chain and flaky-test governance (#60)
  .github/workflows/release-authority.yml
  Dockerfile.test-runner
  account-service/Dockerfile
  docker-compose.synthetic-sandbox.yml
  docs/operations/supply-chain-and-test-governance.md
  frontend/Dockerfile.sandbox
  scripts/check-surefire-retries.ps1
  scripts/test-surefire-retry-governance.ps1
  scripts/verify-release-authority.ps1
  transaction-service/Dockerfile
Due: none

Enforce real-money readiness evidence
  .github/workflows/release-authority.yml
  account-service/src/test/java/com/suhasan/finance/account_service/migration/FreshPostgresIntegrationReadinessMigrationTest.java
  docs/deployment-authority.md
  docs/operations/production-integration-readiness-runbook.md
  docs/operations/production-provider-activation-runbook.md
  docs/operations/production-readiness-evidence.schema.json
  docs/operations/real-money-production-readiness-gate.md
  docs/operations/supply-chain-and-test-governance.md
  scripts/check-surefire-retries.ps1
  scripts/test-production-readiness-evidence.ps1
  scripts/test-surefire-retry-governance.ps1
  scripts/verify-production-readiness-evidence.ps1
  scripts/verify-release-authority.ps1
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Enforce real-money production-readiness evidence (#61)
  .github/workflows/release-authority.yml
  account-service/src/test/java/com/suhasan/finance/account_service/migration/FreshPostgresIntegrationReadinessMigrationTest.java
  docs/deployment-authority.md
  docs/operations/production-integration-readiness-runbook.md
  docs/operations/production-provider-activation-runbook.md
  docs/operations/production-readiness-evidence.schema.json
  docs/operations/real-money-production-readiness-gate.md
  docs/operations/supply-chain-and-test-governance.md
  scripts/check-surefire-retries.ps1
  scripts/test-production-readiness-evidence.ps1
  scripts/test-surefire-retry-governance.ps1
  scripts/verify-production-readiness-evidence.ps1
  scripts/verify-release-authority.ps1
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Complete controlled synthetic-beta Phase 4
  docker-compose.synthetic-alerting.yml
  docker-compose.synthetic-sandbox.yml
  docs/operations/controlled-beta-phase4-operations.md
  docs/operations/synthetic-beta-tester-operations.md
  frontend/src/App.tsx
  frontend/src/components/AdminLayout.tsx
  frontend/src/components/CustomerLayout.tsx
  frontend/src/components/RouteAccessibility.tsx
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/lib/session.test.ts
  frontend/src/lib/session.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/state/AuthProvider.tsx
  frontend/src/styles.css
  frontend/tests/accessibility/authenticated-flows.spec.ts
  infrastructure/synthetic-sandbox/monitoring/prometheus.yml
  scripts/alert-certification-receiver.py
  scripts/backup-synthetic-sandbox.ps1
  scripts/invoke-synthetic-soak-check.ps1
  scripts/manage-synthetic-soak-task.ps1
  scripts/render-alertmanager-provider-config.ps1
  scripts/restore-verify-synthetic-sandbox.ps1
  scripts/run-synthetic-failure-drills.ps1
  scripts/run-synthetic-soak.ps1
  scripts/test-alerting-config.ps1
  transaction-service/monitoring/alertmanager/alertmanager.yml
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/LedgerProjectionOutboxRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerProjectionOutboxDispatcher.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/operations/FinancialOperationResult.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/operations/FinancialOperationsController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/operations/FinancialOperationsCoordinator.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/operations/OperationalBacklogMetrics.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/SecurityConfig.java
  transaction-service/src/main/resources/db/migration/V104__create_financial_operation_runs.sql
  transaction-service/src/main/resources/phase4_operational_alerts.yml
  transaction-service/src/main/resources/transaction_service_alerts.yml
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/operations/FinancialOperationsCoordinatorTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Upgrade Spring Boot to 3.5.16
  account-service/pom.xml
  transaction-service/pom.xml
Due: maven-compile

Complete controlled synthetic-beta Phase 4 (#62)
  account-service/pom.xml
  docker-compose.synthetic-alerting.yml
  docker-compose.synthetic-sandbox.yml
  docs/operations/controlled-beta-phase4-operations.md
  docs/operations/synthetic-beta-tester-operations.md
  frontend/src/App.tsx
  frontend/src/components/AdminLayout.tsx
  frontend/src/components/CustomerLayout.tsx
  frontend/src/components/RouteAccessibility.tsx
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/lib/session.test.ts
  frontend/src/lib/session.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/state/AuthProvider.tsx
  frontend/src/styles.css
  frontend/tests/accessibility/authenticated-flows.spec.ts
  infrastructure/synthetic-sandbox/monitoring/prometheus.yml
  scripts/alert-certification-receiver.py
  scripts/backup-synthetic-sandbox.ps1
  scripts/invoke-synthetic-soak-check.ps1
  scripts/manage-synthetic-soak-task.ps1
  scripts/render-alertmanager-provider-config.ps1
  scripts/restore-verify-synthetic-sandbox.ps1
  scripts/run-synthetic-failure-drills.ps1
  scripts/run-synthetic-soak.ps1
  scripts/test-alerting-config.ps1
  transaction-service/monitoring/alertmanager/alertmanager.yml
  transaction-service/pom.xml
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/LedgerProjectionOutboxRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerProjectionOutboxDispatcher.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/operations/FinancialOperationResult.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/operations/FinancialOperationsController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/operations/FinancialOperationsCoordinator.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/operations/OperationalBacklogMetrics.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/SecurityConfig.java
  transaction-service/src/main/resources/db/migration/V104__create_financial_operation_runs.sql
  transaction-service/src/main/resources/phase4_operational_alerts.yml
  transaction-service/src/main/resources/transaction_service_alerts.yml
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/operations/FinancialOperationsCoordinatorTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Fix synthetic money statement and refresh races
  docs/operations/controlled-beta-phase4-operations.md
  docs/superpowers/specs/2026-06-24-double-entry-ledger-design.md
  frontend/src/components/ConsentGovernanceReadinessPanel.tsx
  frontend/src/lib/queryInvalidation.test.ts
  frontend/src/lib/queryInvalidation.ts
  frontend/src/pages/AccountsPage.tsx
  frontend/src/pages/AdminAccountsPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/MoveMoneyPage.tsx
  frontend/src/pages/OutcomeProtectionPage.tsx
  frontend/src/pages/StatementsPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/CustomerMonthlyStatement.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/CustomerMonthlyStatementRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeScheduledTransferForecaster.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/web/OutcomeProtectionDtos.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionDivergenceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeScheduledTransferForecasterTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Fix synthetic-money statement and refresh races (#63)
  docs/operations/controlled-beta-phase4-operations.md
  docs/superpowers/specs/2026-06-24-double-entry-ledger-design.md
  frontend/src/components/ConsentGovernanceReadinessPanel.tsx
  frontend/src/lib/queryInvalidation.test.ts
  frontend/src/lib/queryInvalidation.ts
  frontend/src/pages/AccountsPage.tsx
  frontend/src/pages/AdminAccountsPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/MoveMoneyPage.tsx
  frontend/src/pages/OutcomeProtectionPage.tsx
  frontend/src/pages/StatementsPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/CustomerMonthlyStatement.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/CustomerMonthlyStatementRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeScheduledTransferForecaster.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/web/OutcomeProtectionDtos.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionDivergenceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeScheduledTransferForecasterTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

fix: close synthetic audit blockers
  frontend/src/lib/queries.ts
  frontend/src/pages/AccountsPage.tsx
  frontend/src/pages/AdminDisputesPage.tsx
  frontend/src/pages/AdminMonitoringPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/MoveMoneyPage.tsx
  frontend/src/pages/SecurityPage.tsx
  frontend/src/types.ts
  frontend/vite.config.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/aspect/MonitoringAspect.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/TransactionController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/TransactionDisputeController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/TransactionDisputeResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/TransactionDispute.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/TransactionProcessingState.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandler.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/JournalPostingRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerPostingService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/TransactionDisputeRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/AlertingService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/AuditService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/InvestigationService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/MetricsService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionDisputeService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransferAuthorizationService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransferAuthorizationStateService.java
  transaction-service/src/main/resources/db/migration/V105__dispute_reimbursement_provenance.sql
  transaction-service/src/main/resources/db/migration/V106__allow_failed_transaction_processing_state.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/TransactionControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/TransactionIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/TransactionLimitsIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/LedgerPostingServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionDisputeServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionServiceImplTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransferAuthorizationServiceTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

ci: use cached dependency data without an NVD key
  .github/workflows/release-authority.yml
Due: none

fix: close synthetic audit blockers (#64)
  .github/workflows/release-authority.yml
  frontend/src/lib/queries.ts
  frontend/src/pages/AccountsPage.tsx
  frontend/src/pages/AdminDisputesPage.tsx
  frontend/src/pages/AdminMonitoringPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/MoveMoneyPage.tsx
  frontend/src/pages/SecurityPage.tsx
  frontend/src/types.ts
  frontend/vite.config.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/aspect/MonitoringAspect.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/TransactionController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/TransactionDisputeController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/TransactionDisputeResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/TransactionDispute.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/TransactionProcessingState.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandler.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/JournalPostingRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerPostingService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/TransactionDisputeRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/AlertingService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/AuditService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/InvestigationService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/MetricsService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionDisputeService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransferAuthorizationService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransferAuthorizationStateService.java
  transaction-service/src/main/resources/db/migration/V105__dispute_reimbursement_provenance.sql
  transaction-service/src/main/resources/db/migration/V106__allow_failed_transaction_processing_state.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/TransactionControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/TransactionIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/TransactionLimitsIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/LedgerPostingServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionDisputeServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionServiceImplTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransferAuthorizationServiceTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Fix admin account ledger balances
  frontend/src/pages/AdminAccountsPage.tsx
  frontend/src/test/app.component.test.tsx
Due: none
