Repository suhas-svg/financial-backend-services: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

license-check:
  name: License Header Check
  entry: bash -c 'cd account-service && ./mvnw license:check-file-header'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven Compile
  entry: bash -c 'cd account-service && ./mvnw clean compile'
  language: system
  pass_filenames: false

maven-test:
  name: Maven Test
  entry: bash -c 'cd account-service && ./mvnw test'
  language: system
  pass_filenames: false

pmd-check:
  name: PMD Static Analysis
  entry: bash -c 'cd account-service && ./mvnw pmd:check'
  language: system
  pass_filenames: false

spotbugs-check:
  name: SpotBugs Static Analysis
  entry: bash -c 'cd account-service && ./mvnw spotbugs:check'
  language: system
  pass_filenames: false

security: short-lived access tokens with rotating httpOnly refresh sessions
  account-service/spotbugs-exclude.xml
  account-service/src/main/java/com/suhasan/finance/account_service/controller/AuthController.java
  account-service/src/main/java/com/suhasan/finance/account_service/security/RefreshCookies.java
  account-service/src/main/java/com/suhasan/finance/account_service/security/RefreshTokenService.java
  account-service/src/main/resources/application.properties
  account-service/src/main/resources/db/migration/V103__create_refresh_tokens.sql
  account-service/src/test/java/com/suhasan/finance/account_service/controller/AuthControllerSessionTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/controller/AuthControllerThrottleTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/security/RefreshTokenServicePostgresTest.java
  frontend/src/components/RequireAuth.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/queries.ts
  frontend/src/lib/session.ts
  frontend/src/lib/sessionRefresh.test.ts
  frontend/src/lib/sessionRefresh.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/state/AuthProvider.tsx
  frontend/src/state/authContext.ts
  frontend/src/test/setup.ts
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

fix(auth): activity-based idle timeout, revoke on expiry, keep 1h tokens for sandbox scripts
  docker-compose.synthetic-sandbox.yml
  frontend/src/lib/sessionRefresh.test.ts
  frontend/src/lib/sessionRefresh.ts
  frontend/src/state/AuthProvider.tsx
Due: none

security: short-lived access tokens with rotating httpOnly refresh sessions (#84)
  account-service/spotbugs-exclude.xml
  account-service/src/main/java/com/suhasan/finance/account_service/controller/AuthController.java
  account-service/src/main/java/com/suhasan/finance/account_service/security/RefreshCookies.java
  account-service/src/main/java/com/suhasan/finance/account_service/security/RefreshTokenService.java
  account-service/src/main/resources/application.properties
  account-service/src/main/resources/db/migration/V103__create_refresh_tokens.sql
  account-service/src/test/java/com/suhasan/finance/account_service/controller/AuthControllerSessionTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/controller/AuthControllerThrottleTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/security/RefreshTokenServicePostgresTest.java
  docker-compose.synthetic-sandbox.yml
  frontend/src/components/RequireAuth.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/queries.ts
  frontend/src/lib/session.ts
  frontend/src/lib/sessionRefresh.test.ts
  frontend/src/lib/sessionRefresh.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/state/AuthProvider.tsx
  frontend/src/state/authContext.ts
  frontend/src/test/setup.ts
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

frontend: stricter security headers, charts loaded only where drawn, per-route error boundaries
  .github/workflows/release-authority.yml
  frontend/Dockerfile.sandbox
  frontend/package.json
  frontend/public/provider-activation.html
  frontend/sandbox-nginx.conf
  frontend/scripts/check-initial-bundle.mjs
  frontend/security-headers.conf
  frontend/src/App.tsx
  frontend/src/components/ActivityMixChart.tsx
  frontend/src/components/RouteErrorBoundary.test.tsx
  frontend/src/components/RouteErrorBoundary.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/tests/sandbox-e2e/controlled-beta-phase2.spec.ts
  frontend/vite.config.ts
  frontend/vite.sandbox.config.ts
  infrastructure/synthetic-sandbox/gateway/nginx.conf
  scripts/verify-release-authority.ps1
Due: none

frontend: stricter security headers, charts loaded only where drawn, per-route error boundaries (#86)
  .github/workflows/release-authority.yml
  frontend/Dockerfile.sandbox
  frontend/package.json
  frontend/public/provider-activation.html
  frontend/sandbox-nginx.conf
  frontend/scripts/check-initial-bundle.mjs
  frontend/security-headers.conf
  frontend/src/App.tsx
  frontend/src/components/ActivityMixChart.tsx
  frontend/src/components/RouteErrorBoundary.test.tsx
  frontend/src/components/RouteErrorBoundary.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/tests/sandbox-e2e/controlled-beta-phase2.spec.ts
  frontend/vite.config.ts
  frontend/vite.sandbox.config.ts
  infrastructure/synthetic-sandbox/gateway/nginx.conf
  scripts/verify-release-authority.ps1
Due: none

observability: OpenTelemetry tracing in both services, transfer SLOs with burn-rate alerts
  .github/workflows/release-authority.yml
  account-service/pom.xml
  account-service/src/main/java/com/suhasan/finance/account_service/security/MetricsScrapeTokenFilter.java
  account-service/src/main/java/com/suhasan/finance/account_service/security/SecurityConfig.java
  account-service/src/main/resources/application.properties
  account-service/src/main/resources/logback-spring.xml
  account-service/src/test/java/com/suhasan/finance/account_service/security/MetricsScrapeTokenFilterTest.java
  docker-compose.synthetic-alerting.yml
  docker-compose.synthetic-tracing.yml
  docs/operations/observability.md
  infrastructure/helm/account-service/templates/_helpers.tpl
  infrastructure/helm/account-service/templates/networkpolicy.yaml
  infrastructure/helm/account-service/templates/servicemonitor.yaml
  infrastructure/helm/account-service/values.yaml
  infrastructure/helm/transaction-service/templates/_helpers.tpl
  infrastructure/helm/transaction-service/templates/networkpolicy.yaml
  infrastructure/helm/transaction-service/templates/servicemonitor.yaml
  infrastructure/helm/transaction-service/values.yaml
  infrastructure/observability/prometheus/slo-rules.test.yml
  infrastructure/observability/prometheus/slo-rules.yml
  infrastructure/synthetic-sandbox/monitoring/prometheus.yml
  transaction-service/pom.xml
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/TracingConfig.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/WebClientConfig.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/MetricsScrapeTokenFilter.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/SecurityConfig.java
  transaction-service/src/main/resources/application.properties
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/config/CorrelationIdInterceptorTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/config/TracePropagationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/security/MetricsScrapeTokenFilterTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

fix(observability): satisfy PMD NullAssignment in MetricsScrapeTokenFilter
  account-service/src/main/java/com/suhasan/finance/account_service/security/MetricsScrapeTokenFilter.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/MetricsScrapeTokenFilter.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

observability: OpenTelemetry tracing in both services, transfer SLOs with burn-rate alerts (#85)
  .github/workflows/release-authority.yml
  account-service/pom.xml
  account-service/src/main/java/com/suhasan/finance/account_service/security/MetricsScrapeTokenFilter.java
  account-service/src/main/java/com/suhasan/finance/account_service/security/SecurityConfig.java
  account-service/src/main/resources/application.properties
  account-service/src/main/resources/logback-spring.xml
  account-service/src/test/java/com/suhasan/finance/account_service/security/MetricsScrapeTokenFilterTest.java
  docker-compose.synthetic-alerting.yml
  docker-compose.synthetic-tracing.yml
  docs/operations/observability.md
  infrastructure/helm/account-service/templates/_helpers.tpl
  infrastructure/helm/account-service/templates/networkpolicy.yaml
  infrastructure/helm/account-service/templates/servicemonitor.yaml
  infrastructure/helm/account-service/values.yaml
  infrastructure/helm/transaction-service/templates/_helpers.tpl
  infrastructure/helm/transaction-service/templates/networkpolicy.yaml
  infrastructure/helm/transaction-service/templates/servicemonitor.yaml
  infrastructure/helm/transaction-service/values.yaml
  infrastructure/observability/prometheus/slo-rules.test.yml
  infrastructure/observability/prometheus/slo-rules.yml
  infrastructure/synthetic-sandbox/monitoring/prometheus.yml
  transaction-service/pom.xml
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/TracingConfig.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/WebClientConfig.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/MetricsScrapeTokenFilter.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/SecurityConfig.java
  transaction-service/src/main/resources/application.properties
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/config/CorrelationIdInterceptorTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/config/TracePropagationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/security/MetricsScrapeTokenFilterTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

feat(release): one semantic version, release-please changelog, commit-pinned release images
  .github/workflows/release-authority.yml
  .release-please-manifest.json
  CHANGELOG.md
  Dockerfile.test-runner
  account-service/pom.xml
  docs/operations/releases.md
  infrastructure/helm/account-service/Chart.yaml
  infrastructure/helm/account-service/values-dev.yaml
  infrastructure/helm/account-service/values-prod.yaml
  infrastructure/helm/account-service/values-staging.yaml
  infrastructure/helm/account-service/values.yaml
  infrastructure/helm/transaction-service/Chart.yaml
  infrastructure/helm/transaction-service/values-prod.yaml
  infrastructure/helm/transaction-service/values.yaml
  pom.xml
  release-please-config.json
  scripts/verify-release-authority.ps1
  transaction-service/Dockerfile
  transaction-service/pom.xml
Due: maven-compile

feat(api): OpenAPI specs, RFC 9457 Problem Details everywhere, generated frontend types
  .github/workflows/release-authority.yml
  account-service/pom.xml
  account-service/src/main/java/com/suhasan/finance/account_service/config/OpenApiConfig.java
  account-service/src/main/java/com/suhasan/finance/account_service/controller/AuthController.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/ErrorResponse.java
  account-service/src/main/java/com/suhasan/finance/account_service/exception/ApiProblems.java
  account-service/src/main/java/com/suhasan/finance/account_service/exception/GlobalExceptionHandler.java
  account-service/src/main/java/com/suhasan/finance/account_service/integration/OperatorIamEnforcementFilter.java
  account-service/src/main/java/com/suhasan/finance/account_service/security/SecurityConfig.java
  account-service/src/main/resources/application.properties
  account-service/src/test/java/com/suhasan/finance/account_service/OpenApiSpecTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/exception/GlobalExceptionHandlerTest.java
  docs/api/README.md
  docs/api/account-service.openapi.json
  docs/api/transaction-service.openapi.json
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/generated/account-service.ts
  frontend/src/api/generated/transaction-service.ts
  frontend/src/lib/api.ts
  frontend/src/lib/problemMessage.test.ts
  frontend/src/types.ts
  scripts/verify-release-authority.ps1
  transaction-service/pom.xml
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/TransactionServiceApplication.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/MonitoringConfig.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/OpenApiConfig.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/SchedulingConfig.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/ApiProblems.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/ErrorResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandler.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/integration/OperatorIamEnforcementFilter.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/SecurityConfig.java
  transaction-service/src/main/resources/application.properties
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/OpenApiSpecTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandlerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/security/SecurityConfigTest.java
  transaction-service/src/test/resources/application-openapi.properties
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

fix(api): guard the catch-all error log statement (PMD GuardLogStatement)
  account-service/src/main/java/com/suhasan/finance/account_service/exception/GlobalExceptionHandler.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

feat(ops): scheduled load, soak and backup-restore drills with readiness-gate evidence
  .github/workflows/release-authority.yml
  account-service/performance-tests/README.md
  account-service/performance-tests/config.json
  account-service/performance-tests/load-test.js
  account-service/performance-tests/run-performance-tests.ps1
  account-service/performance-tests/run-performance-tests.sh
  account-service/performance-tests/spike-test.js
  account-service/performance-tests/stress-test.js
  docker-compose.synthetic-load.yml
  docs/operations/controlled-beta-phase4-operations.md
  docs/operations/load-soak-restore-drills.md
  performance/k6/transfers.js
  scripts/backup-synthetic-sandbox.ps1
  scripts/lib/SyntheticDrillSnapshot.ps1
  scripts/package-drill-evidence.ps1
  scripts/restore-verify-synthetic-sandbox.ps1
  scripts/verify-release-authority.ps1
Due: none

ci(ops): static name for the load/soak drill job
  .github/workflows/release-authority.yml
Due: none

docs(api): point the endpoint tour at the generated OpenAPI specs
  docs/api/frontend-endpoints.md
Due: none

feat(release): one semantic version, release-please changelog, commit-pinned release images (#88)
  .github/workflows/release-authority.yml
  .release-please-manifest.json
  CHANGELOG.md
  Dockerfile.test-runner
  account-service/pom.xml
  docs/operations/releases.md
  infrastructure/helm/account-service/Chart.yaml
  infrastructure/helm/account-service/values-dev.yaml
  infrastructure/helm/account-service/values-prod.yaml
  infrastructure/helm/account-service/values-staging.yaml
  infrastructure/helm/account-service/values.yaml
  infrastructure/helm/transaction-service/Chart.yaml
  infrastructure/helm/transaction-service/values-prod.yaml
  infrastructure/helm/transaction-service/values.yaml
  pom.xml
  release-please-config.json
  scripts/verify-release-authority.ps1
  transaction-service/Dockerfile
  transaction-service/pom.xml
Due: maven-compile

fix(ops): drills lift per-account transfer count limits and record evidence after a failed threshold
  .github/workflows/release-authority.yml
  docker-compose.synthetic-load.yml
  docs/operations/load-soak-restore-drills.md
  performance/k6/transfers.js
Due: none

feat(api): OpenAPI specs, RFC 9457 Problem Details everywhere, generated frontend types (#87)
  .github/workflows/release-authority.yml
  account-service/pom.xml
  account-service/src/main/java/com/suhasan/finance/account_service/config/OpenApiConfig.java
  account-service/src/main/java/com/suhasan/finance/account_service/controller/AuthController.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/ErrorResponse.java
  account-service/src/main/java/com/suhasan/finance/account_service/exception/ApiProblems.java
  account-service/src/main/java/com/suhasan/finance/account_service/exception/GlobalExceptionHandler.java
  account-service/src/main/java/com/suhasan/finance/account_service/integration/OperatorIamEnforcementFilter.java
  account-service/src/main/java/com/suhasan/finance/account_service/security/SecurityConfig.java
  account-service/src/main/resources/application.properties
  account-service/src/test/java/com/suhasan/finance/account_service/OpenApiSpecTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/exception/GlobalExceptionHandlerTest.java
  docs/api/README.md
  docs/api/account-service.openapi.json
  docs/api/frontend-endpoints.md
  docs/api/transaction-service.openapi.json
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/generated/account-service.ts
  frontend/src/api/generated/transaction-service.ts
  frontend/src/lib/api.ts
  frontend/src/lib/problemMessage.test.ts
  frontend/src/types.ts
  scripts/verify-release-authority.ps1
  transaction-service/pom.xml
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/TransactionServiceApplication.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/MonitoringConfig.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/OpenApiConfig.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/SchedulingConfig.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/ApiProblems.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/ErrorResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandler.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/integration/OperatorIamEnforcementFilter.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/SecurityConfig.java
  transaction-service/src/main/resources/application.properties
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/OpenApiSpecTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandlerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/security/SecurityConfigTest.java
  transaction-service/src/test/resources/application-openapi.properties
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

fix(ops): restore drill queried the wrong database; drills keep service logs as evidence
  .github/workflows/release-authority.yml
  scripts/lib/SyntheticDrillSnapshot.ps1
Due: none

feat(ops): scheduled load, soak and backup-restore drills with readiness-gate evidence (#89)
  .github/workflows/release-authority.yml
  account-service/performance-tests/README.md
  account-service/performance-tests/config.json
  account-service/performance-tests/load-test.js
  account-service/performance-tests/run-performance-tests.ps1
  account-service/performance-tests/run-performance-tests.sh
  account-service/performance-tests/spike-test.js
  account-service/performance-tests/stress-test.js
  docker-compose.synthetic-load.yml
  docs/operations/controlled-beta-phase4-operations.md
  docs/operations/load-soak-restore-drills.md
  performance/k6/transfers.js
  scripts/backup-synthetic-sandbox.ps1
  scripts/lib/SyntheticDrillSnapshot.ps1
  scripts/package-drill-evidence.ps1
  scripts/restore-verify-synthetic-sandbox.ps1
  scripts/verify-release-authority.ps1
Due: none

fix(ops): restore drill compared a parsed timestamp against its text form
  scripts/restore-verify-synthetic-sandbox.ps1
Due: none

fix(ops): restore drill compared a parsed timestamp against its text form (#91)
  scripts/restore-verify-synthetic-sandbox.ps1
Due: none

fix(transfers): stop the connection pool deadlocking under transfer load
  docs/operations/observability.md
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandler.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/MoneyMovementBusyException.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/MoneyMovementBulkhead.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransferAuthorizationService.java
  transaction-service/src/main/resources/application.properties
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandlerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/MoneyMovementBulkheadTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

fix(transfers): stop the connection pool deadlocking under transfer load (#92)
  docs/operations/observability.md
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandler.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/MoneyMovementBusyException.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/MoneyMovementBulkhead.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransferAuthorizationService.java
  transaction-service/src/main/resources/application.properties
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandlerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/MoneyMovementBulkheadTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

feat(security): password change that signs the user out everywhere
  account-service/src/main/java/com/suhasan/finance/account_service/controller/SecurityController.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/MfaRequests.java
  account-service/src/main/java/com/suhasan/finance/account_service/security/RefreshTokenService.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/MfaService.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/PasswordChangeService.java
  account-service/src/test/java/com/suhasan/finance/account_service/security/RefreshTokenServicePostgresTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/PasswordChangeServiceTest.java
  docs/api/account-service.openapi.json
  frontend/src/api/generated/account-service.ts
  frontend/src/lib/queries.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SecurityPage.password.test.tsx
  frontend/src/pages/SecurityPage.tsx
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

feat(security): password change that signs the user out everywhere (#94)
  account-service/src/main/java/com/suhasan/finance/account_service/controller/SecurityController.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/MfaRequests.java
  account-service/src/main/java/com/suhasan/finance/account_service/security/RefreshTokenService.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/MfaService.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/PasswordChangeService.java
  account-service/src/test/java/com/suhasan/finance/account_service/security/RefreshTokenServicePostgresTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/PasswordChangeServiceTest.java
  docs/api/account-service.openapi.json
  frontend/src/api/generated/account-service.ts
  frontend/src/lib/queries.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SecurityPage.password.test.tsx
  frontend/src/pages/SecurityPage.tsx
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

wip(types): derive frontend API types from the OpenAPI specs
  account-service/src/main/java/com/suhasan/finance/account_service/controller/NotificationController.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/NotificationSummaryResponse.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/NotificationService.java
  account-service/src/test/java/com/suhasan/finance/account_service/controller/NotificationControllerTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/NotificationServiceAdditionalTest.java
  docs/api/account-service.openapi.json
  frontend/src/api/generated/account-service.ts
  frontend/src/pages/AdminReconciliationPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

wip(types): derive frontend API types from the OpenAPI specs (#95)
  account-service/src/main/java/com/suhasan/finance/account_service/controller/NotificationController.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/NotificationSummaryResponse.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/NotificationService.java
  account-service/src/test/java/com/suhasan/finance/account_service/controller/NotificationControllerTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/NotificationServiceAdditionalTest.java
  docs/api/account-service.openapi.json
  frontend/src/api/generated/account-service.ts
  frontend/src/pages/AdminReconciliationPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

fix(ops): audit account status changes, correct money validation and error shapes
  account-service/src/main/java/com/suhasan/finance/account_service/entity/AccountStatusAuditEvent.java
  account-service/src/main/java/com/suhasan/finance/account_service/repository/AccountStatusAuditEventRepository.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/AccountService.java
  account-service/src/main/resources/db/migration/V104__create_account_status_audit_events.sql
  account-service/src/test/java/com/suhasan/finance/account_service/service/AccountStatusAuditTest.java
  docs/api/transaction-service.openapi.json
  frontend/package.json
  frontend/src/api/generated/transaction-service.ts
  frontend/src/pages/AdminAccountsPage.tsx
  frontend/src/pages/AdminInvestigationsPage.tsx
  frontend/src/pages/ScheduledTransfersPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/test/setup.ts
  frontend/src/types.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/MonitoringController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/DepositRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/AdminReconciliationController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/CustomerStatementController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/CustomerStatementGenerateRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/DefaultAdminReconciliationQueryService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/ReconciliationRunRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/ScheduledTransferService.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/JvmMemoryGaugeAmbiguityTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/web/AdminReconciliationControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/web/CustomerStatementControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/ScheduledTransferServiceTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

ci(api-contract): allow the intentional request-bound tightening
  .github/api-contract-severity.txt
  .github/workflows/release-authority.yml
Due: none

fix(ops): audit account status changes, correct money validation and error shapes (#96)
  .github/api-contract-severity.txt
  .github/workflows/release-authority.yml
  account-service/src/main/java/com/suhasan/finance/account_service/entity/AccountStatusAuditEvent.java
  account-service/src/main/java/com/suhasan/finance/account_service/repository/AccountStatusAuditEventRepository.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/AccountService.java
  account-service/src/main/resources/db/migration/V104__create_account_status_audit_events.sql
  account-service/src/test/java/com/suhasan/finance/account_service/service/AccountStatusAuditTest.java
  docs/api/transaction-service.openapi.json
  frontend/package.json
  frontend/src/api/generated/transaction-service.ts
  frontend/src/pages/AdminAccountsPage.tsx
  frontend/src/pages/AdminInvestigationsPage.tsx
  frontend/src/pages/ScheduledTransfersPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/test/setup.ts
  frontend/src/types.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/MonitoringController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/DepositRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/AdminReconciliationController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/CustomerStatementController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/CustomerStatementGenerateRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/DefaultAdminReconciliationQueryService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/ReconciliationRunRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/ScheduledTransferService.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/JvmMemoryGaugeAmbiguityTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/web/AdminReconciliationControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/web/CustomerStatementControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/ScheduledTransferServiceTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Suppress non-exploitable CVE-2026-47884 in container scans
  .github/workflows/release-authority.yml
  .trivyignore
Due: none

Suppress non-exploitable CVE-2026-47884 in container scans (#98)
  .github/workflows/release-authority.yml
  .trivyignore
Due: none

Rename Financial Console to Vaultiq across frontend
  frontend/README.md
  frontend/index.html
  frontend/src/components/CustomerLayout.tsx
  frontend/src/components/RouteAccessibility.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/styles.css
  frontend/src/test/app.component.test.tsx
Due: none

Rename Financial Console to Vaultiq across frontend (#97)
  frontend/README.md
  frontend/index.html
  frontend/src/components/CustomerLayout.tsx
  frontend/src/components/RouteAccessibility.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/styles.css
  frontend/src/test/app.component.test.tsx
Due: none

Path conditions:
  license-check: any of: \.java$
  maven-compile: any of: (\.java$|pom\.xml$)
  maven-test: any of: \.java$
  pmd-check: any of: \.java$
  spotbugs-check: any of: \.java$
