Repository suhas-svg/financial-backend-services: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for code quality and security
repos:
  # General code formatting and linting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-xml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: detect-private-key
      - id: mixed-line-ending

  # Java code formatting with Google Java Format
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.14.0
    hooks:
      - id: pretty-format-java
        args: [--autofix]

  # Secret detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.82.13
    hooks:
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'trufflehog git file://. --since-commit HEAD --only-verified --fail'
        language: system
        stages: ["commit", "push"]

  # Security scanning with Semgrep
  - repo: https://github.com/semgrep/semgrep
    rev: v1.95.0
    hooks:
      - id: semgrep
        args: ['--config=p/security-audit', '--config=p/secrets', '--config=p/owasp-top-ten', '--config=p/java', '--error']

  # License header check
  - repo: local
    hooks:
      - id: license-check
        name: License Header Check
        entry: bash -c 'cd account-service && ./mvnw license:check-file-header'
        language: system
        files: '\.java$'
        pass_filenames: false

  # Maven compile check
  - repo: local
    hooks:
      - id: maven-compile
        name: Maven Compile
        entry: bash -c 'cd account-service && ./mvnw clean compile'
        language: system
        files: '(\.java$|pom\.xml$)'
        pass_filenames: false

  # Maven test check
  - repo: local
    hooks:
      - id: maven-test
        name: Maven Test
        entry: bash -c 'cd account-service && ./mvnw test'
        language: system
        files: '\.java$'
        pass_filenames: false

  # PMD static analysis
  - repo: local
    hooks:
      - id: pmd-check
        name: PMD Static Analysis
        entry: bash -c 'cd account-service && ./mvnw pmd:check'
        language: system
        files: '\.java$'
        pass_filenames: false

  # SpotBugs static analysis
  - repo: local
    hooks:
      - id: spotbugs-check
        name: SpotBugs Static Analysis
        entry: bash -c 'cd account-service && ./mvnw spotbugs:check'
        language: system
        files: '\.java$'
        pass_filenames: false

  # Docker file linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: [--ignore, DL3008, --ignore, DL3009]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yml]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
    hooks:
      - id: markdownlint
        args: [--fix]

# Configuration for specific hooks
default_language_version:
  java: system

Fix admin account ledger balances (#65)
  frontend/src/pages/AdminAccountsPage.tsx
  frontend/src/test/app.component.test.tsx
Due: none

Enforce Outcome Protection source freshness
  README.md
  docs/operations/balance-shield-guardrail-runbook.md
  docs/superpowers/specs/2026-08-12-outcome-protection-source-freshness.md
  frontend/src/components/OutcomeGuardrailCard.test.ts
  frontend/src/components/OutcomeGuardrailCard.tsx
  frontend/src/lib/outcomeFreshness.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandler.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/domain/OutcomeScenarioVersion.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeAuthoritativeSourceService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeFreshnessRejectionRecorder.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeGuardrailService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeSourceFreshnessService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/ScenarioDivergedException.java
  transaction-service/src/main/resources/db/migration/V107__outcome_source_freshness_invariant.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandlerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/repository/FreshPostgresOutcomeSourceFreshnessMigrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeProtectionMigrationSmokeTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeGuardrailServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionDivergenceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeSourceFreshnessServiceTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Enforce Outcome Protection source freshness (#66)
  README.md
  docs/operations/balance-shield-guardrail-runbook.md
  docs/superpowers/specs/2026-08-12-outcome-protection-source-freshness.md
  frontend/src/components/OutcomeGuardrailCard.test.ts
  frontend/src/components/OutcomeGuardrailCard.tsx
  frontend/src/lib/outcomeFreshness.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandler.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/domain/OutcomeScenarioVersion.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeAuthoritativeSourceService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeFreshnessRejectionRecorder.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeGuardrailService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeSourceFreshnessService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/ScenarioDivergedException.java
  transaction-service/src/main/resources/db/migration/V107__outcome_source_freshness_invariant.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandlerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/repository/FreshPostgresOutcomeSourceFreshnessMigrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeProtectionMigrationSmokeTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeGuardrailServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionDivergenceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeSourceFreshnessServiceTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Stabilize customer money workflows
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/api.test.ts
  frontend/src/lib/queries.ts
  frontend/src/pages/AccountsPage.tsx
  frontend/src/pages/BeneficiariesPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/MoveMoneyPage.tsx
  frontend/src/pages/ScheduledTransfersPage.tsx
  frontend/src/test/app.component.test.tsx
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/aspect/ApiAccessAuditRecorder.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/aspect/AuditEvidenceFilter.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/AuditAccessExecutorConfiguration.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/CustomerNotificationExecutorConfiguration.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/CustomerNotificationDispatcher.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/ScheduledTransferService.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/aspect/ApiAccessAuditRecorderTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/aspect/AuditEvidenceFilterTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/CustomerNotificationDispatcherTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/ScheduledTransferServiceTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Stabilize customer money workflows (#67)
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/api.test.ts
  frontend/src/lib/queries.ts
  frontend/src/pages/AccountsPage.tsx
  frontend/src/pages/BeneficiariesPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/MoveMoneyPage.tsx
  frontend/src/pages/ScheduledTransfersPage.tsx
  frontend/src/test/app.component.test.tsx
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/aspect/ApiAccessAuditRecorder.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/aspect/AuditEvidenceFilter.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/AuditAccessExecutorConfiguration.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/CustomerNotificationExecutorConfiguration.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/CustomerNotificationDispatcher.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/ScheduledTransferService.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/aspect/ApiAccessAuditRecorderTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/aspect/AuditEvidenceFilterTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/CustomerNotificationDispatcherTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/ScheduledTransferServiceTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Improve navigation performance and security setup UI
  .gitignore
  frontend/.dockerignore
  frontend/src/App.tsx
  frontend/src/components/AdminLayout.tsx
  frontend/src/components/CustomerLayout.tsx
  frontend/src/pages/SecurityPage.tsx
  frontend/src/routePages.ts
  frontend/src/test/app.component.test.tsx
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/performance/TransactionPerformanceTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Improve navigation performance and security setup UI (#68)
  .gitignore
  frontend/.dockerignore
  frontend/src/App.tsx
  frontend/src/components/AdminLayout.tsx
  frontend/src/components/CustomerLayout.tsx
  frontend/src/pages/SecurityPage.tsx
  frontend/src/routePages.ts
  frontend/src/test/app.component.test.tsx
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/performance/TransactionPerformanceTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Remove remaining agent handoff references from docs
  AGENTS.md
  docs/operations/ledger-task11-verification.md
  docs/superpowers/plans/2026-06-22-cross-console-reliability.md
  docs/superpowers/plans/2026-06-24-double-entry-ledger-implementation.md
Due: none

Make backend dependency scan cache-only without NVD downloads
  .github/workflows/release-authority.yml
Due: none

Wait for the admin portal form remount before filling sign-in fields
  frontend/tests/accessibility/authenticated-flows.spec.ts
Due: none

Remove remaining agent handoff references from docs (#69)
  .github/workflows/release-authority.yml
  AGENTS.md
  docs/operations/ledger-task11-verification.md
  docs/superpowers/plans/2026-06-22-cross-console-reliability.md
  docs/superpowers/plans/2026-06-24-double-entry-ledger-implementation.md
  frontend/tests/accessibility/authenticated-flows.spec.ts
Due: none

fix: live E2E findings — error mapping, self-transfer, 404 handling, scheduled execution
  frontend/src/lib/schemas.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/client/ResilientAccountServiceClient.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransferAuthorizationService.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

test: update getTransaction_NotFound to expect TransactionNotFoundException (404)
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionServiceImplTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

fix: preserve 503 for account-service unavailable in scheduled fallback
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

fix: live E2E findings — error mapping, self-transfer, 404 handling, scheduled execution (#71)
  frontend/src/lib/schemas.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/client/ResilientAccountServiceClient.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransferAuthorizationService.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionServiceImplTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

fix: close reconciliation lock, account oracle, TOTP lockout and health leaks
  .gitignore
  account-service/pom.xml
  account-service/src/main/java/com/suhasan/finance/account_service/controller/HealthController.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/MfaMethod.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/BeneficiaryService.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/MfaService.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/StepUpChallengeService.java
  account-service/src/main/resources/db/migration/V101__mfa_totp_verification_lockout.sql
  account-service/src/test/java/com/suhasan/finance/account_service/controller/HealthControllerTest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/ReconciliationRunRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerReconciliationService.java
  transaction-service/src/main/resources/db/migration/V108__reconciliation_run_in_progress_unique.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/LedgerReconciliationServiceTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

fix: resolve PMD violation and CVE findings blocking required acceptance
  account-service/pom.xml
  account-service/src/main/java/com/suhasan/finance/account_service/entity/MfaMethod.java
  transaction-service/pom.xml
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

fix: bump netty to 4.1.137.Final for CVE-2026-75595
  transaction-service/pom.xml
Due: maven-compile

fix: close reconciliation lock, account oracle, TOTP lockout and health leaks (#75)
  .gitignore
  account-service/pom.xml
  account-service/src/main/java/com/suhasan/finance/account_service/controller/HealthController.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/MfaMethod.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/BeneficiaryService.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/MfaService.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/StepUpChallengeService.java
  account-service/src/main/resources/db/migration/V101__mfa_totp_verification_lockout.sql
  account-service/src/test/java/com/suhasan/finance/account_service/controller/HealthControllerTest.java
  transaction-service/pom.xml
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/ReconciliationRunRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerReconciliationService.java
  transaction-service/src/main/resources/db/migration/V108__reconciliation_run_in_progress_unique.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/LedgerReconciliationServiceTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

fix(transaction-service): walkthrough findings in ops stats, worker lookups, and copy
  README.md
  docker-compose.codex.yml
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/client/ResilientAccountServiceClient.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/MonitoringController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeSimulationEngine.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/TransactionRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/DailyTransactionStatsService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/client/ResilientAccountServiceClientTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/MonitoringControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeSimulationEngineTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/DailyTransactionStatsServiceTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

fix(frontend): walkthrough findings in time display, Balance Shield, and ops UX
  frontend/src/components/AdminGuardrailControlPanel.tsx
  frontend/src/components/OutcomeGuardrailCard.tsx
  frontend/src/lib/format.test.ts
  frontend/src/lib/format.ts
  frontend/src/pages/AdminAuditLogPage.tsx
  frontend/src/pages/AdminDisputesPage.tsx
  frontend/src/pages/AdminInvestigationsPage.tsx
  frontend/src/pages/AdminReconciliationPage.tsx
  frontend/src/pages/AdminRiskAlertsPage.tsx
  frontend/src/pages/AdminRiskCasesPage.tsx
  frontend/src/pages/BeneficiariesPage.tsx
  frontend/src/pages/NotificationsPage.tsx
  frontend/src/pages/OutcomeProtectionPage.tsx
  frontend/src/pages/ScheduledTransfersPage.tsx
  frontend/src/pages/SecurityPage.tsx
  frontend/src/pages/StatementsPage.tsx
  frontend/src/pages/TransactionsPage.tsx
Due: none

fix(account-service): answer non-numeric path ids with 400, not 500
  account-service/src/main/java/com/suhasan/finance/account_service/exception/GlobalExceptionHandler.java
  account-service/src/test/java/com/suhasan/finance/account_service/exception/GlobalExceptionHandlerTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

build: bump jackson-bom to 2.21.6 for CVE-2026-68497
  account-service/pom.xml
  transaction-service/pom.xml
Due: maven-compile

fix(backend): live walkthrough findings — DB-backed daily stats, worker lookups, 400 on bad ids (#76)
  README.md
  account-service/pom.xml
  account-service/src/main/java/com/suhasan/finance/account_service/exception/GlobalExceptionHandler.java
  account-service/src/test/java/com/suhasan/finance/account_service/exception/GlobalExceptionHandlerTest.java
  docker-compose.codex.yml
  transaction-service/pom.xml
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/client/ResilientAccountServiceClient.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/MonitoringController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeSimulationEngine.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/TransactionRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/DailyTransactionStatsService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/client/ResilientAccountServiceClientTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/MonitoringControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeSimulationEngineTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/DailyTransactionStatsServiceTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

fix(frontend): live walkthrough findings — local time zones, Balance Shield controls, ops UX (#77)
  frontend/src/components/AdminGuardrailControlPanel.tsx
  frontend/src/components/OutcomeGuardrailCard.tsx
  frontend/src/lib/format.test.ts
  frontend/src/lib/format.ts
  frontend/src/pages/AdminAuditLogPage.tsx
  frontend/src/pages/AdminDisputesPage.tsx
  frontend/src/pages/AdminInvestigationsPage.tsx
  frontend/src/pages/AdminReconciliationPage.tsx
  frontend/src/pages/AdminRiskAlertsPage.tsx
  frontend/src/pages/AdminRiskCasesPage.tsx
  frontend/src/pages/BeneficiariesPage.tsx
  frontend/src/pages/NotificationsPage.tsx
  frontend/src/pages/OutcomeProtectionPage.tsx
  frontend/src/pages/ScheduledTransfersPage.tsx
  frontend/src/pages/SecurityPage.tsx
  frontend/src/pages/StatementsPage.tsx
  frontend/src/pages/TransactionsPage.tsx
Due: none

fix(transaction-service): stop caching account state (frozen accounts could still be debited)
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/client/ResilientAccountServiceClient.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/client/AccountLookupNotCachedTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

fix(transaction-service): stop caching account state (frozen accounts could still be debited) (#78)
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/client/ResilientAccountServiceClient.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/client/AccountLookupNotCachedTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

fix(transaction-service): make background jobs safe to run on several replicas
  docs/operations/background-job-replica-safety.md
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeScenarioRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeScenarioMonitor.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/ScheduledTransferRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/TransactionRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/ScheduledTransferService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeScenarioMonitorTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/BackgroundJobClaimIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/ScheduledTransferServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionServiceImplTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

fix(balance-shield): back off scenarios the monitor keeps failing on
  frontend/src/lib/outcomeMonitoring.test.ts
  frontend/src/lib/outcomeMonitoring.ts
  frontend/src/pages/OutcomeProtectionPage.tsx
  frontend/src/types.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/domain/OutcomeScenario.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeScenarioRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeMonitorHealth.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeScenarioMonitor.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/web/OutcomeProtectionDtos.java
  transaction-service/src/main/resources/db/migration/V109__outcome_monitor_backoff.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeMonitorHealthTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionDivergenceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeRepairDraftSelectionTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeScenarioMonitorTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/BackgroundJobClaimIntegrationTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

build: bump jackson-bom to 2.21.7 for CVE-2026-91776 and CVE-2026-91777
  account-service/pom.xml
  transaction-service/pom.xml
Due: maven-compile

fix(transaction-service): make background jobs safe to run on several replicas (#79)
  account-service/pom.xml
  docs/operations/background-job-replica-safety.md
  transaction-service/pom.xml
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeScenarioRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeScenarioMonitor.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/ScheduledTransferRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/TransactionRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/ScheduledTransferService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeScenarioMonitorTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/BackgroundJobClaimIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/ScheduledTransferServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionServiceImplTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

fix(balance-shield): back off scenarios the monitor keeps failing on (#80)
  frontend/src/lib/outcomeMonitoring.test.ts
  frontend/src/lib/outcomeMonitoring.ts
  frontend/src/pages/OutcomeProtectionPage.tsx
  frontend/src/types.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/domain/OutcomeScenario.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeScenarioRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeMonitorHealth.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeScenarioMonitor.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/web/OutcomeProtectionDtos.java
  transaction-service/src/main/resources/db/migration/V109__outcome_monitor_backoff.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeMonitorHealthTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionDivergenceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeRepairDraftSelectionTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeScenarioMonitorTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/BackgroundJobClaimIntegrationTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Remove .kiro directory
  .kiro/settings/mcp.json
  .kiro/specs/cicd-pipeline/design.md
  .kiro/specs/cicd-pipeline/requirements.md
  .kiro/specs/cicd-pipeline/tasks.md
  .kiro/specs/comprehensive-e2e-testing/design.md
  .kiro/specs/comprehensive-e2e-testing/requirements.md
  .kiro/specs/comprehensive-e2e-testing/tasks.md
  .kiro/specs/mcp-backend-integration/requirements.md
  .kiro/specs/mcp-financial-integration/design.md
  .kiro/specs/mcp-financial-integration/requirements.md
  .kiro/specs/mcp-financial-integration/tasks.md
  .kiro/specs/transaction-service/design.md
  .kiro/specs/transaction-service/requirements.md
  .kiro/specs/transaction-service/tasks.md
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
Due: none

Remove .kiro directory (#81)
  .kiro/settings/mcp.json
  .kiro/specs/cicd-pipeline/design.md
  .kiro/specs/cicd-pipeline/requirements.md
  .kiro/specs/cicd-pipeline/tasks.md
  .kiro/specs/comprehensive-e2e-testing/design.md
  .kiro/specs/comprehensive-e2e-testing/requirements.md
  .kiro/specs/comprehensive-e2e-testing/tasks.md
  .kiro/specs/mcp-backend-integration/requirements.md
  .kiro/specs/mcp-financial-integration/design.md
  .kiro/specs/mcp-financial-integration/requirements.md
  .kiro/specs/mcp-financial-integration/tasks.md
  .kiro/specs/transaction-service/design.md
  .kiro/specs/transaction-service/requirements.md
  .kiro/specs/transaction-service/tasks.md
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
Due: none

perf: index ledger lookups, collapse notification summary queries, ease polling
  account-service/src/main/java/com/suhasan/finance/account_service/repository/NotificationRepository.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/NotificationService.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/NotificationServiceAdditionalTest.java
  frontend/src/lib/queryInvalidation.ts
  frontend/src/main.tsx
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/LedgerAccountRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/DefaultCustomerLedgerQueryService.java
  transaction-service/src/main/resources/db/migration/V110__index_ledger_account_lookups.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/web/DefaultCustomerLedgerQueryServiceTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

perf: index ledger lookups, collapse notification summary queries, ease polling (#82)
  account-service/src/main/java/com/suhasan/finance/account_service/repository/NotificationRepository.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/NotificationService.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/NotificationServiceAdditionalTest.java
  frontend/src/lib/queryInvalidation.ts
  frontend/src/main.tsx
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/LedgerAccountRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/DefaultCustomerLedgerQueryService.java
  transaction-service/src/main/resources/db/migration/V110__index_ledger_account_lookups.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/web/DefaultCustomerLedgerQueryServiceTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

security: throttle login/registration, fix ingress rate limit and rewrites, add frontend headers
  account-service/src/main/java/com/suhasan/finance/account_service/controller/AuthController.java
  account-service/src/main/java/com/suhasan/finance/account_service/exception/GlobalExceptionHandler.java
  account-service/src/main/java/com/suhasan/finance/account_service/exception/TooManyAttemptsException.java
  account-service/src/main/java/com/suhasan/finance/account_service/security/ClientIpResolver.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/AuthThrottleService.java
  account-service/src/main/resources/application.properties
  account-service/src/main/resources/db/migration/V102__create_auth_throttle_counters.sql
  account-service/src/test/java/com/suhasan/finance/account_service/controller/AuthControllerThrottleTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/exception/GlobalExceptionHandlerTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/security/ClientIpResolverTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/AuthThrottleServicePostgresTest.java
  account-service/src/test/resources/application-integration-test.properties
  account-service/src/test/resources/application-test.properties
  docker-compose-e2e.yml
  docker-compose-full-e2e.yml
  docker-compose.codex.yml
  docker-compose.synthetic-sandbox.yml
  frontend/sandbox-nginx.conf
  infrastructure/helm/account-service/values-prod.yaml
  infrastructure/helm/account-service/values-staging.yaml
  infrastructure/helm/account-service/values.yaml
  infrastructure/helm/transaction-service/values-prod.yaml
  infrastructure/synthetic-sandbox/gateway/nginx.conf
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

fix(account-service): add serialVersionUID to TooManyAttemptsException (PMD)
  account-service/src/main/java/com/suhasan/finance/account_service/exception/TooManyAttemptsException.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

security: throttle login/registration, fix ingress rate limit and rewrites, add frontend headers (#83)
  account-service/src/main/java/com/suhasan/finance/account_service/controller/AuthController.java
  account-service/src/main/java/com/suhasan/finance/account_service/exception/GlobalExceptionHandler.java
  account-service/src/main/java/com/suhasan/finance/account_service/exception/TooManyAttemptsException.java
  account-service/src/main/java/com/suhasan/finance/account_service/security/ClientIpResolver.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/AuthThrottleService.java
  account-service/src/main/resources/application.properties
  account-service/src/main/resources/db/migration/V102__create_auth_throttle_counters.sql
  account-service/src/test/java/com/suhasan/finance/account_service/controller/AuthControllerThrottleTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/exception/GlobalExceptionHandlerTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/security/ClientIpResolverTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/AuthThrottleServicePostgresTest.java
  account-service/src/test/resources/application-integration-test.properties
  account-service/src/test/resources/application-test.properties
  docker-compose-e2e.yml
  docker-compose-full-e2e.yml
  docker-compose.codex.yml
  docker-compose.synthetic-sandbox.yml
  frontend/sandbox-nginx.conf
  infrastructure/helm/account-service/values-prod.yaml
  infrastructure/helm/account-service/values-staging.yaml
  infrastructure/helm/account-service/values.yaml
  infrastructure/helm/transaction-service/values-prod.yaml
  infrastructure/synthetic-sandbox/gateway/nginx.conf
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check
