Repository suhas-svg/financial-backend-services: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

license-check:
  name: License Header Check
  entry: bash -c 'cd account-service && ./mvnw license:check-file-header'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven Compile
  entry: bash -c 'cd account-service && ./mvnw clean compile'
  language: system
  pass_filenames: false

maven-test:
  name: Maven Test
  entry: bash -c 'cd account-service && ./mvnw test'
  language: system
  pass_filenames: false

pmd-check:
  name: PMD Static Analysis
  entry: bash -c 'cd account-service && ./mvnw pmd:check'
  language: system
  pass_filenames: false

spotbugs-check:
  name: SpotBugs Static Analysis
  entry: bash -c 'cd account-service && ./mvnw spotbugs:check'
  language: system
  pass_filenames: false

Fix CI/CD pipeline: Simplified workflow for GitHub Actions
  .github/workflows/ci-cd-pipeline.yml
Due: none

Disable complex workflows causing GitHub Actions failures
  .github/workflows/deploy-production.yml.disabled
  .github/workflows/deploy-staging.yml.disabled
  .github/workflows/repository-setup.yml.disabled
  .github/workflows/scheduled-maintenance.yml.disabled
Due: none

Fix Maven wrapper permissions in GitHub Actions
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/pr-validation.yml
Due: none

Switch to system Maven instead of wrapper
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/pr-validation.yml
Due: none

Simplify workflows to basic compilation only
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/pr-validation.yml
Due: none

Add debugging and switch to Java 21
  .github/workflows/ci-cd-pipeline.yml
Due: none

Fix Java version mismatch - downgrade to Java 21
  .github/workflows/ci-cd-pipeline.yml
  account-service/pom.xml
  transaction-service/pom.xml
Due: maven-compile

Disable duplicate ci-cd-pipeline-core.yml workflow
  .github/workflows/ci-cd-pipeline-core.yml.disabled
Due: none

Update README.md
  .github/README.md
Due: none

Fix CI policy and Maven wrapper execution
  .github/workflows/ci-cd-pipeline.yml
  account-service/mvnw
  transaction-service/README.md
  transaction-service/docker-compose-monitoring.yml
  transaction-service/mvnw
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/e2e/FullSystemIntegrationE2ETest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/security/JwtAuthenticationFilterTest.java
  transaction-service/src/test/resources/application-e2e.properties
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Fix gitleaks PR checkout depth
  .github/workflows/ci-cd-pipeline.yml
Due: none

Update root README for frontend dashboard
  README.md
Due: none

Stabilize OWASP dependency scan
  .github/workflows/ci-cd-pipeline.yml
Due: none

Extend dependency scan timeout
  .github/workflows/ci-cd-pipeline.yml
Due: none

Tune NVD update delay
  .github/workflows/ci-cd-pipeline.yml
Due: none

Show dependency-check update progress
  .github/workflows/ci-cd-pipeline.yml
Due: none

docs: align Java version and add monorepo validation checks
  DEVELOPMENT.md
Due: none

Add admin audit log viewer
  README.md
  frontend/src/App.tsx
  frontend/src/components/AppLayout.tsx
  frontend/src/lib/api.test.ts
  frontend/src/lib/queries.ts
  frontend/src/pages/AdminAuditLogPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
  frontend/tests/e2e/admin.spec.ts
  transaction-service/Dockerfile
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/AuditController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/AuditEventFilter.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/AuditLogEntryResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/AuditSummaryResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/AuditLogEntry.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/AuditLogEntryRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/SecurityConfig.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/AuditQueryService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/AuditService.java
  transaction-service/src/main/resources/db/migration/V8__create_audit_log_entries.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/AuditControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/AuditServicePersistenceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/AuditServiceTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Add admin risk alert review queue
  README.md
  frontend/src/App.tsx
  frontend/src/components/AppLayout.tsx
  frontend/src/lib/api.test.ts
  frontend/src/lib/queries.ts
  frontend/src/pages/AdminRiskAlertsPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
  frontend/tests/e2e/admin.spec.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/RiskAlertController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/RiskAlertFilter.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/RiskAlertResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/RiskAlertStatusUpdateRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/RiskSummaryResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/RiskAlert.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/RiskAlertSeverity.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/RiskAlertStatus.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/RiskAlertType.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/RiskAlertRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/TransactionRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/SecurityConfig.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/RiskAlertQueryService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/RiskEvaluationService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
  transaction-service/src/main/resources/db/migration/V9__create_risk_alerts.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/RiskAlertControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/IdempotencyAndReversalTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/RiskEvaluationServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionServiceImplTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionServiceReversalTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Add admin risk case management
  README.md
  frontend/src/App.tsx
  frontend/src/components/AppLayout.tsx
  frontend/src/lib/api.test.ts
  frontend/src/lib/queries.ts
  frontend/src/pages/AdminRiskAlertsPage.tsx
  frontend/src/pages/AdminRiskCasesPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/RiskCaseController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/RiskCaseCreateRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/RiskCaseFilter.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/RiskCaseNoteRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/RiskCaseResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/RiskCaseStatusUpdateRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/RiskCaseSummaryResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/RiskCase.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/RiskCaseNote.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/RiskCasePriority.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/RiskCaseStatus.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/RiskCaseNoteRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/RiskCaseRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/RiskCaseService.java
  transaction-service/src/main/resources/db/migration/V10__create_risk_cases.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/RiskCaseControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/RiskCaseServiceTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Add admin investigation timeline
  README.md
  frontend/src/App.tsx
  frontend/src/components/AppLayout.tsx
  frontend/src/lib/api.test.ts
  frontend/src/lib/queries.ts
  frontend/src/pages/AdminInvestigationsPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
  frontend/tests/e2e/admin.spec.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/InvestigationController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/InvestigationFilter.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/InvestigationSummaryResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/InvestigationTimelineItemResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/TransactionRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/SecurityConfig.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/InvestigationService.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/InvestigationControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/InvestigationServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/RiskCaseServiceTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Add investigation report export
  README.md
  frontend/src/lib/api.test.ts
  frontend/src/lib/queries.ts
  frontend/src/pages/AdminInvestigationsPage.tsx
  frontend/src/styles.css
  frontend/src/test/app.component.test.tsx
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/InvestigationController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/InvestigationService.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/AuditControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/InvestigationControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/JwtFilterTestConfig.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/RiskAlertControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/RiskCaseControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandlerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/InvestigationServiceTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Clean generated report artifacts
  account-service-checkpoint-fixed.ps1
  account-service/logs.txt
  architecture-assessment-report.pdf
  architecture-assessment-report.txt
  financial-mcp-server/complete-test-results.json
  financial-mcp-server/e2e-test-results.json
  financial-mcp-server/mcp-demo-results.json
  financial-mcp-server/simple-e2e-test-results.json
  transaction-service-checkpoint.ps1
  transaction-service/test-failures.txt
  transaction-service/test-failures2.txt
  transaction-service/test-summary.txt
  transaction-service/test-summary2.txt
Due: none

Fix frontend lint configuration
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AppLayout.tsx
  frontend/src/components/RequireAuth.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/state/AuthProvider.tsx
  frontend/src/state/authContext.ts
  frontend/src/state/useAuth.ts
  frontend/src/test/app.component.test.tsx
Due: none

Remove preserved demo artifacts
  .github/workflows/ci-cd-pipeline-core.yml.disabled
  .github/workflows/deploy-production.yml.disabled
  .github/workflows/deploy-staging.yml.disabled
  .github/workflows/repository-setup.yml.disabled
  .github/workflows/scheduled-maintenance.yml.disabled
  frontend/backend-demo-screenshots/01-account-service-health-direct.png
  frontend/backend-demo-screenshots/02-transaction-service-health-direct.png
  frontend/backend-demo-screenshots/03-api-smoke-results.png
  frontend/backend-demo-screenshots/04-customer-dashboard-login.png
  frontend/backend-demo-screenshots/05-credit-validation.png
  frontend/backend-demo-screenshots/06-accounts-created.png
  frontend/backend-demo-screenshots/07-money-movement-forms.png
  frontend/backend-demo-screenshots/08-transaction-history.png
  frontend/backend-demo-screenshots/09-dashboard-after-backend-operations.png
  frontend/backend-demo-screenshots/10-admin-accounts.png
  frontend/backend-demo-screenshots/11-admin-monitoring-readable.png
  frontend/backend-demo-screenshots/12-admin-ops-transactions.png
  frontend/demo-screenshots/01-register-filled.png
  frontend/demo-screenshots/02-register-success.png
  frontend/demo-screenshots/03-dashboard-empty.png
  frontend/demo-screenshots/04-account-created.png
  frontend/demo-screenshots/05-deposit-filled.png
  frontend/demo-screenshots/06-transactions.png
  frontend/demo-screenshots/07-dashboard-after-deposit.png
  frontend/demo-screenshots/08-admin-monitoring.png
  frontend/demo-screenshots/09-admin-monitoring-loaded.png
  frontend/demo-screenshots/10-admin-monitoring-readable.png
  transaction-service/src/main/resources/db/migration/V4__Create_environment_specific_configurations.sql.disabled
  transaction-service/src/main/resources/db/migration/V5__Create_additional_indexes_and_optimizations.sql.disabled
Due: none

Add account hold freeze feature
  README.md
  account-service/src/main/java/com/suhasan/finance/account_service/controller/AccountController.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/AccountResponse.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/AccountStatusUpdateRequest.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/BalanceOperationResponse.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/Account.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/AccountStatus.java
  account-service/src/main/java/com/suhasan/finance/account_service/repository/AccountRepository.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/AccountService.java
  account-service/src/main/resources/db/migration/V3__add_account_status.sql
  account-service/src/test/java/com/suhasan/finance/account_service/controller/AccountControllerStatusTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/AccountServiceTest.java
  docker-compose-e2e.yml
  docker-compose-full-e2e.yml
  docker-compose.codex.yml
  docker-compose.yml
  frontend/src/components/StatusBadge.tsx
  frontend/src/lib/api.test.ts
  frontend/src/lib/queries.ts
  frontend/src/pages/AccountsPage.tsx
  frontend/src/pages/AdminAccountsPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/MoveMoneyPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
  infrastructure/helm/transaction-service/values.yaml
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/client/ResilientAccountServiceClient.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/AccountDto.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
  transaction-service/src/main/resources/application.properties
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionServiceImplTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Add pending debit authorization holds
  account-service/src/main/java/com/suhasan/finance/account_service/controller/InternalAccountController.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/AccountResponse.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/DebitHoldRequest.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/DebitHoldResponse.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/Account.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/AccountDebitHold.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/DebitHoldStatus.java
  account-service/src/main/java/com/suhasan/finance/account_service/mapper/AccountMapper.java
  account-service/src/main/java/com/suhasan/finance/account_service/repository/AccountDebitHoldRepository.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/AccountService.java
  account-service/src/main/resources/db/migration/V4__add_available_balance_and_debit_holds.sql
  account-service/src/test/java/com/suhasan/finance/account_service/migration/AvailableBalanceMigrationTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/AccountServiceTest.java
  frontend/src/lib/accountBalances.ts
  frontend/src/pages/AccountsPage.tsx
  frontend/src/pages/AdminAccountsPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/MoveMoneyPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/client/ResilientAccountServiceClient.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/AccountDto.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/TransactionProcessingState.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/IdempotencyAndReversalTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionServiceImplTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Document pending debit authorization feature
  README.md
Due: none

Document separate customer admin UI shells
  docs/superpowers/specs/2026-05-22-separate-customer-admin-ui-shells-design.md
Due: none

Plan separate customer admin UI shells
  docs/superpowers/plans/2026-05-22-separate-customer-admin-ui-shells.md
Due: none

Extract customer frontend shell
  frontend/src/App.tsx
  frontend/src/components/CustomerLayout.tsx
  frontend/src/test/app.component.test.tsx
Due: none

Add separate admin operations shell
  frontend/src/App.tsx
  frontend/src/components/AdminLayout.tsx
  frontend/src/pages/AdminOverviewPage.tsx
  frontend/src/test/app.component.test.tsx
Due: none

Verify separate customer and admin shells
  frontend/src/components/AppLayout.tsx
Due: none

Add transaction dispute workflow
  README.md
  frontend/src/App.tsx
  frontend/src/components/AdminLayout.tsx
  frontend/src/components/CustomerLayout.tsx
  frontend/src/lib/queries.ts
  frontend/src/lib/schemas.ts
  frontend/src/pages/AdminDisputesPage.tsx
  frontend/src/pages/DisputesPage.tsx
  frontend/src/pages/TransactionsPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/TransactionDisputeController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/DisputeCreateRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/DisputeFilter.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/DisputeNoteRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/DisputeStatusUpdateRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/DisputeSummaryResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/InvestigationSummaryResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/TransactionDisputeResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/DisputeReasonCode.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/DisputeStatus.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/TransactionDispute.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/TransactionDisputeNote.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/TransactionDisputeNoteRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/TransactionDisputeRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/SecurityConfig.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/AuditService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/InvestigationService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionDisputeService.java
  transaction-service/src/main/resources/db/migration/V11__create_transaction_disputes.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/TransactionDisputeControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/InvestigationServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionDisputeServiceTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

add customer notification center
  README.md
  account-service/src/main/java/com/suhasan/finance/account_service/controller/NotificationController.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/NotificationCreateRequest.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/NotificationFilter.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/Notification.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/NotificationSeverity.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/NotificationSourceType.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/NotificationStatus.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/NotificationType.java
  account-service/src/main/java/com/suhasan/finance/account_service/repository/NotificationRepository.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/AccountService.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/NotificationService.java
  account-service/src/main/resources/db/migration/V5__create_notifications.sql
  account-service/src/test/java/com/suhasan/finance/account_service/controller/NotificationControllerTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/NotificationServiceTest.java
  frontend/src/App.tsx
  frontend/src/components/CustomerLayout.tsx
  frontend/src/lib/queries.ts
  frontend/src/pages/NotificationsPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/client/ResilientAccountServiceClient.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionDisputeService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionDisputeServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionServiceImplTest.java
Due: license-check, maven-compile, maven-test, pmd-check, spotbugs-check

Path conditions:
  license-check: any of: \.java$
  maven-compile: any of: (\.java$|pom\.xml$)
  maven-test: any of: \.java$
  pmd-check: any of: \.java$
  spotbugs-check: any of: \.java$
